

//头部导航
.header{
  height: 41px;
  padding: 18px 0;
  .left {
    display: flex;
    .logol {
      margin-right: 34px;
      img {
        height: 36px;
        width: auto;
        display: block;
      }
    }
    .nav {
      height: 40px;
      .nav-list {
        display: flex;
        >li {
          margin-right: 24px;
          a {
            font-size: 16px;
            color: #333;
            display: block;
            line-height: 40px;
            &:hover {
              color: red;
            }
            img {
              height: 24px;
              display: block;
            }
          }

        }
        .img{
          margin-top: 7px;
        }
      }
    }
  }
  .right {
    position: relative;
    .sr_ {
      height: 28px;
      width: 238px;
      background: #f0f0f0;
      border-radius: 15px;
      border: 1px solid #f0f0f0;
      text-indent: 15px;
      outline: none;
    }
    >.search-bar-key {
      position: absolute;
      right: 42px;
      bottom: 6px;
      >a {
        color: #999;
        font-size: 12px;
        margin-right: 8px;
        &:hover {
          color: #000;
        }
      }
    }
    .btn {
      position: absolute;
      right: 18px;
      top: 7px;
      border: 0px;
    }
  }
}
//轮播图
.hw-banner-swiper {
  height: 550px;
  .swiper-wrapper {
    height: 100%;
    .swiper-slide {
      height: 100%;
      img {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 0 0 100px 100px;
      }
    }
  }
  #swipers {
    bottom: 88px;
    margin-right: 20px;
  }
  .swiper-pagination {
    text-align: right;
    .swiper-pagination-bullet {
      border: 1.5px solid #fff;
      background-color: rgba(0, 0, 0, 0.3);
      height: 10px;
      width: 10px;
      margin-left: 6px;
    }
    .swiper-pagination-bullet-active {
      background: #fff;
    }
  }

  .swiper-button-prev {
    left: 400px;
  }
  .swiper-button-next {
    right: 130px;
  }
  .btns {
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-weight: 400;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }
  #btns {
    z-index: 9999;
  }
}
//导航分类
.category {
    z-index: 999;
    position: absolute;
    height: 420px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
    background: rgba(224, 223, 223, 0.7);
    border-radius: 10px;
    display: table;
    cursor: pointer;
    width: 200px;
    top: 150px;
    left: 140px;
    margin: 0;
  .category-list {
    width: 200px;
    background: rgba(255,255,255,0.95);
    border-radius: 10px;
    box-sizing: border-box;
    .category-item {
      vertical-align: middle;
      width: 167px;
      cursor: pointer;
      padding: 11px 17px;
      &:hover {
        background: #fff;
        border-radius: 0;
      }
      &:nth-last-child(1) {
        border-radius: 0 0 10px 10px;
        &:hover {
          border-radius: 0 0 0 10px;
        }
      }
      &:hover .menu_ {
        display: block;
      }
      &:nth-of-type(1) {
        border-radius: 10px 10px 0 0;
        &:hover {
          border-radius: 10px 0 0 0;
        }
      }
      >a {
        font-size: 16px;
        color: #848484;
        display: block;
        >i {
          float: right;
        }
      }
      .menu_ {
        position: absolute;
        left: 193px;
        top: 0;
        height: 420px;
        padding: 0 10px 8px 0;
        border-radius: 0 10px 10px 0;
        box-shadow: 0 0 46px rgba(0,0,0,0.1);
        z-index: 10000;
        overflow: hidden;
        background: #fff;
        display: none;
        .sub-menu {
          width: 242px;
          margin: 0;
          padding-top: 20px;
          .subcate-item {
            margin-bottom: 25px;
            >a {
              display: inline-block;
              width: 230px;
              height: 60px;
              font-size: 14px;
              border-radius: 10px;
              vertical-align: middle;
              margin-left: 20px;
              padding-top: 8px;
              box-sizing: border-box;
              &:hover {
                background: #f5f4f4;
              }
              >img {
                width: 48px;
                height: 48px;
                margin: 0 8px 0 12px;
                float: left;
              }
              >p {
                height: 34px;
                line-height: 34px;
                position: relative;
                top: 7px;
                vertical-align: middle;
                color: #666;
                font-size: 14px;
                width: 150px;
                overflow: hidden;
              }
            }
          }
          .subcate-btn {
            float: left;
            >a {
              width: 112px;
              height: 42px;
              line-height: 42px;
              margin-top: 8px;
              margin-left: 36px;
              border: 1px solid #f2f2f2;
              border-radius: 0 22px 22px 0;
              font-size: 13px;
              color: #999;
              display: block;
              position: relative;
              left: 23px;
              text-indent: 34px;
              &::before {
                content: "";
                width: 44px;
                height: 44px;
                background: #fff;
                border: 1px solid #f2f2f2;
                display: block;
                border: 22px;
                position: absolute;
                top: -1px;
                left: -22px;
                border-radius: 50%;
              }
              &::after {
                content: "";
                width: 0;
                height: 0;
                display: block;
                border-bottom: 5px solid transparent;
                border-top: 5px solid transparent;
                border-left: 5px solid #c0c0c0;
                position: absolute;
                top: 16px;
                left: -1px;
              }
            }
          }
        }
      }
      .category-panels {
        width: 484px;
      }
      .category-panels-1 {
        width: 242px;
      }
      .category-panels-2 {
        width: 726px;
      }
    }
  }
}
// 主要内容
.main {
  position: relative;
  .title {
    color: #333;
    padding: 27px 0 13px 0;
    font-size: 17px;
    font-weight: 400;
    h2 {
      font-weight: 400;
      color: #3a3a3a;
    }
    .channel-nav {
      margin-left: 28px;
      max-width: 966px;
      height: 32px;
      overflow: hidden;
      >li {
        float: left;
        >a {
          font-size: 14px;
          color: #999;
          margin-right: 24px;
          line-height: 32px;
          display: inline-block;
          &:hover {
            color: #ca151d;
          }
        }
      }
    }
    .channel-more {
      height: 32px;
      line-height: 32px;
      text-align: center;
      >a {
        font-size: 14px;
        color: #333;
        padding: 0 10px;
        &:hover {
          color: #ca151d;
        }
        &::after {
          content: "";
          display: inline-block;
          width: 18px;
          height: 14px;
          background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon03.svg) no-repeat;
          background-position: -48px 0;
          position: relative;
          top: 2px;
        }
      }
    }
  }
  .home-channel {
    position: absolute;
    left: 0;
    top: -66px;
    width: 100%;
    height: 88px;
    z-index: 10000;
    .home-channel-list {
      background: #FFF;
      text-align: center;
      border-top: 0 none;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 2px 26px rgba(0,0,0,0.07);
      z-index: 2;
      .s1 {
        margin-top: 18px;
        width: 270px;
        height: 55px;
        border-right: 1px solid #eee;
        .w-name {
          padding-left: 26px;
          >img {
            width: 52px;
            height: 52px;
            margin-right: 17px;
          }
        }
        .w_reg {
          margin-top: 1px;
          font-size: 14px;
          color: #999;
        }
        .w_btn {
          margin-top: 6px;
          >a {
            display: inline-block;
            width: 68px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            background: #595454;
            color: #fde4b3;
            border-radius: 5px;
            font-size: 13px;
            &.new {
              width: 66px;
              height: 20px;
              line-height: 20px;
              background: #fff;
              border: 1px solid #e47b7f;
              color: #de5b60;
              margin-right: 8px;
              &:hover {
                background: #de5b60;
                color: #fff;
              }
            }
            &:hover {
              background: #3a3a3a;
            }
          }
        }
      }
      .s2 {
        width: 660px;
        margin-top: 18px;
        >ul {
          display: flex;
          >li {
            width: 104px;
            &:nth-of-type(2) {
              .p_img {
                img {
                  left: -38px;
                }
              }
            }
            &:nth-of-type(3) {
              .p_img {
                img {
                  left: -75px;
                }
              }
            }
            &:nth-of-type(4) {
              .p_img {
                img {
                  left: -114px;
                }
              }
            }
            &:nth-of-type(5) {
              .p_img {
                img {
                  left: -154px;
                }
              }
            }
            &:nth-of-type(6) {
              .p_img {
                img {
                  left: -190px;
                }
              }
            }
            >a {
              text-align: center;
              display: block;
              width: 100%;
              min-width: 48px;
              max-width: 84px;
              margin: 0 auto;
              cursor: pointer;
              color: #3a3a3a;
              &:hover {
                color: red;
              }
              .p_img {
                width: 40px;
                height: 40px;
                margin: 0 22px;
                overflow: hidden;
                position: relative;
                >img {
                  position: absolute;
                  left: 0px;
                  width: auto;
                  height: 96%;
                }
              }
              .p_content {
                font-size: 12px;
                line-height: 24px;
                width: 100%;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #777;
                &:hover {
                  color: red;
                }
              }
            }
          }
        }
      }
      .s3 {
        width: 266px;
        height: 88px;
        border-left: 1px solid #eee;
        box-sizing: border-box;
        .public-info {
          text-align: left;
          font-size: 14px;
          font-weight: bold;
          padding-left: 10px;
          height: 43px;
          line-height: 43px;
          border-bottom: 1px solid #eee;
          .p_list {
            font-weight: normal;
            margin-left: 8px;
            font-size: 12px;
            a {
              color: #6f6f6f;
              &:hover {
                color: red;
              }
            }
          }
        }
        .public-content {
          >ul {
            >li {
              height: 42px;
              line-height: 42px;
              width: 88px;
              >a {
                display: block;
                color: #666;
                height: 42px;
                line-height: 42px;
                font-size: 12px;
                width: 89px;
                &:hover {
                  color: red;
                }
                >.txt {
                  position: relative;
                  top: -6px;
                }
                >.s_img {
                  position: relative;
                  height: 22px;
                  width: 20px;
                  overflow: hidden;
                  display: inline-block;
                  margin-right: 2px;
                  margin-top: 13px;
                  >img {
                    width: auto;
                    height: 200%;
                    position: absolute;
                    left: -266px;
                  }
                  
                }
              }
            }
            >.l2 {
              >a {
                >.s_img {
                  img {
                    left: -287px;
                  }
                }
              }
            }
            >.l3 {
              >a {
                >.s_img {
                  img {
                    left: -310px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bottomimage {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    width: 100%;
    display: flex;
    >a {
      display: block;
      width: 50%;
      flex: 1;
      &:nth-of-type(1) {
        position: relative;
        img {
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .one {
    padding-top: 40px;
    .home-promo-list {
      display: flex;
      margin-bottom: 13px;
      >li {
        width: 290px;
        height: 200px;
        border-radius: 20px;
        margin-left: 13px;
        &:nth-of-type(1) {
          margin-left: 0;
        }
        >a {
          display: block;
          height: 200px;
          border-radius: 10px;
          &:hover {
            box-shadow: 0 2px 26px rgba(0,0,0,0.1);
          }
          > img {
            height: 200px;
            width: 290px;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .two {
    .hot_list {
      display: flex;
      width: 232px;
      height: auto;
      .hot_l {
        >a {
          width: 232px;
          border-radius: 10px;
          >img {
            width: 232px;
            border-radius: 10px;
            &:hover {
              box-shadow: 0 2px 26px rgba(0,0,0,0.1);
            }
          }
        }
      }
      .hot_r {
        width: 968px;
        >ul {
          display: flex;
          flex-wrap: wrap;
          width: 968px;
          >li {
            width: 230px;
            height: 290px;
            background: #f9f9f9;
            border-radius: 10px;
            margin-left: 12px;
            margin-bottom: 12px;
            position: relative;
            >a {
              display: inline-block;
              width: 100%;
              height: 100%;
              text-align: center;
              color: #3a3a3a;
              border-radius: 10px;
              &:hover {
                box-shadow: 0 2px 26px rgba(0,0,0,0.1);
              }
              .grid-img {
                width: 150px;
                height: 150px;
                margin: 35px auto 0;
                >img {
                  width: 100%;
                  height: 100%;
                  display: block;
                  border-radius: 10px;
                }
              }
              .grid-title {
                width: 210px;
                display: block;
                margin: 0 auto;
                font-size: 14px;
                margin-top: 12px;
                height: 21px;
                line-height: 21px;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .grid-desc {
                color: #777;
                font-size: 12px;
                line-height: 18px;
                padding: 0 10px;
                margin: 2px 20px 7px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .grid-price {
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #cc0e11;
              }
              .grid-tips {
                position: absolute;
                width: 100%;
                z-index: 2;
                top: 0;
                left: 0;
                text-align: center;
                >span {
                  display: inline-block;
                  font-size: 12px;
                  background: #ff8486;
                  padding: 0 9px;
                  margin: 0 auto;
                  height: 22px;
                  line-height: 22px;
                  color: #fff;
                  border-radius: 0 0 6px 6px;
                }
              }
            }
          }
        }
      }
    }
  }
  .b {
    width: 100%;
    overflow: hidden;
    .swipers {
      height: 295px;
      padding-top: 16px;
      margin-bottom: 8px;
      position: relative;
      overflow: hidden;
      >.swiper-button-prev {
        width: 36px;
        height: 72px;
        top: 101px;
        left: 5px;
        background: rgba(0,0,0,0.2);
        border-radius: 0 10px 10px 0;
        &::before {
          content: "";
          width: 24px;
          height: 26px;
          background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon03.svg) no-repeat;
          position: absolute;
          top: 22px;
        }
      }
      >.swiper-button-next {
        width: 36px;
        height: 72px;
        top: 101px;
        right: 0px;
        background: rgba(0,0,0,0.2);
        border-radius: 10px 0 0 10px;
        &::before {
          content: "";
          width: 24px;
          height: 26px;
          background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon03.svg) no-repeat;
          position: absolute;
          top: 22px;
        }
      }
      .grid-list {
        width: 1400px;
        overflow: hidden;
        .grid-items {
          width: 242px;
          height: 295px;
          margin-bottom: 10px;
          .thumb {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #3a3a3a;
            position: relative;
            .grid-info {
              width: 230px;
              height: 205px;
              margin: 0 auto;
              background: #fff;
              padding-top: 36px;
              border-radius: 10px;
              box-shadow: 0 1px 8px rgba(0,0,0,0.06);
              .grid-img {
                margin: 0 auto;
                margin-bottom: 19px;
                width: 150px;
                height: 150px;
                >img {
                  width: 150px;
                  height: 150px;
                }
              }
              .grid-desc {
                font-size: 14px;
                line-height: 36px;
                padding: 0 10px;
                border-radius: 0 0 10px 10px;
                position: absolute;
                top: 206px;
                width: 210px;
                left: 6px;
                background: #f3f3f3;
                color: #777;
              }
            }
            .grid-title {
              margin: 0 auto;
              margin-top: 9px;
              height: 24px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              line-height: 24px;
              font-size: 14px;
              font-weight: 400;
              color: #3a3a3a;
            }
            .grid-price {
              line-height: 18px;
              color: #d0021b;
              font-size: 14px;
              font-weight: 400;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .grid-tips {
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;
              height: 48px;
              right: 35px;
              .thumb {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
                .color1 {
                  background: #ff8486;
                  font-style: normal;
                  display: inline-block;
                  padding: 0 9px;
                  margin: 0 auto;
                  height: 22px;
                  font-size: 12px;
                  line-height: 22px;
                  color: #fff;
                  border-radius: 0 0 6px 6px;
                }
              }
            }
          }
        }
        #w {
          width: 202px;
          height: 240px;
          .grid-info {
            width: 190px;
            height: 156px;
            padding-top: 34px;
            background: #f9f9f9;
            box-shadow: none;
            margin: 0 auto;
            border-radius: 10px;
            .grid-img {
              width: 120px;
              height: 120px;
              margin: 0 auto;
              img {
                width: 120px;
                height: 120px;
              }
            
            }
            .grid-desc {
              width: 170px;
              top: 158px;
              line-height: 32px;
              height: 32px;
              background: #f3f3f3;
              color: #777;
              font-size: 12px;
              margin: 0;
              padding: 0 10px;
              border-radius: 0 0 10px 10px;
              position: absolute;
              left: 6px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .grid-title {
            width: 170px;
            height: 21px;
            line-height: 21px;
            margin-top: 8px;
          }
        }
      }
    }
  }
  .home-banner {
    padding: 30px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    #bannerswiper {
      .swiper-wrapper {
        .swiper-slide {
          border-radius: 10px;
          a {
            >img {
              border-radius: 20px;
            }
          }
        }
      }
      .swiper-pagination {
        left: 520px;
        top: 120px;
        .swiper-pagination-bullet {
          border: 1.5px solid #fff;
          background-color: rgba(0, 0, 0, 0.3);
          height: 10px;
          width: 10px;
          margin-left: 6px;
        }
        .swiper-pagination-bullet-active {
          background: #fff;
        }
      }
    }
  }
  .home-channel-container {
    .b_ {
      height: auto;
      .goods-list {
        margin: 0 0 0 -10px;
        .grid-items-md {
          background: #fff;
          .thumb {
            display: inline-block;
            height: 100%;
            width: 100%;
            text-align: center;
            color: #3a3a3a;
            img {
              width: 230px;
              height: 290px;
              border-radius: 10px;
            }
          }
        }
        
        .grid-items {
          height: 290px;
          width: 230px;
          border-radius: 10px;
          margin-left: 12px;
          margin-bottom: 12px;
          background: #f9f9f9;
          .thumb {
            display: inline-block;
            height: 100%;
            width: 100%;
            text-align: center;
            color: #3a3a3a;
            position: relative;
            .grid-info {
              .grid-img {
                width: 150px;
                height: 150px;
                margin: 35px auto 0;
                img {
                  width: 150px;
                  height: 150px;
                }
              }
            }
            .grid-title {
              width: 210px;
              display: block;
              margin: 0 auto;
              margin-top: 12px;
              height: 21px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
              font-weight: 400;
              color: #3a3a3a;
              margin: 12px 10px 0 10px;
            }
            .grid-desc {
              font-size: 12px;
              font-weight: 400;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #a4a4a4;
              padding: 0 10px;
              margin: 2px 20px 7px 20px;
            }
            .grid-price {
              color: #d0021b;
              line-height: 21px;
              font-size: 14px;
              font-weight: 400;
              margin: 0 20px 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .grid-tips {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 48px;
              z-index: 2;
              .color1 {
                background: #ff8486;
                display: inline-block;
                padding: 0 9px;
                margin: 0 auto;
                height: 22px;
                line-height: 22px;
                color: #fff;
                border-radius: 0 0 6px 6px;
                font-size: 12px;
              }
            }
          }
        }
        .grid-items-lg {
          width: 472px;
          background: #fff;
          background: #fff;
          .thumb {
            display: inline-block;
            height: 100%;
            width: 100%;
            text-align: center;
            color: #3a3a3a;
            img {
              width: 472px;
              height: 290px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

//尾部
.footer {
  background: #f9f9f9;
  .slogan-container {
    .slogan {
      padding: 22px 0 20px;
      li {
        height: 40px;
        text-align: center;
        vertical-align: middle;
        padding-right: 120px;
        &:nth-of-type(4) {
          padding-right: 0px;
        }
        a {
          font-size: 18px;
          color: #333;
          >i {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 15px;
            background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon01.svg) no-repeat;
            background-position: -74px 0;
          }
        }
      }
      .s2 {
        a {
          i {
            background-position: -154px 0;
          }
        }
      }
      .s3 {
        a {
          i {
            background-position: -194px 0;
          }
        }
      }
      .s4 {
        a {
          i {
            background-position: -114px 0;
          }
        }
      }
    }
  }
  .service-container {
    .service {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      padding: 23px 0 24px;
      width: 1200px;
      margin: 0 auto;
      .service-l {
        width: 920px;
        height: 155px;
        padding-top: 5px;
        border-right: 1px solid #e5e5e5;
        display: flex;
        dl {
          width: 16.66%;
          dt {
            font-size: 14px;
            color: #3a3a3a;
          }
          dd {
            padding-top: 10px;
            a {
              font-size: 12px;
              color: #777;
              &:hover {
                color: red;
              }
            }
          }
        }
        .s6 {
          width: 16.66%;
          overflow: hidden;
          .fd_ {
            font-size: 14px;
            color: #3a3a3a;
          }
          .fd-line {
            position: relative;
            padding-top: 10px;
            .swiper-wrapper {
              .swiper-slide {
                ul {
                  li {
                    a{
                      font-size: 12px;
                      color: #777;
                      &:hover {
                        color: red;
                      }
                    }
                  }
                }
              }
            }
            .swiper-button-prev {
              color: #000;
              top: 2px;
              left: 67px;
              background: #fff;
            }
            .swiper-button-next {
              color: #000;
              top: 2px;
              left: 84px;
              background: #fff;
            }
          }
        }
      }
      .service-r {
        width: 278px;
        min-height: 160px;
        margin-top: 2px;
        text-align: center;
        margin: 0 auto;
        .tl {
          font-size: 24px;
          color: #575757;
          font-weight: 700;
        }
        .cn {
          font-size: 14px;
          color: #333;
        }
        .line_ {
          a{
            display: block;
            width: 170px;
            height: 34px;
            padding: 0;
            margin: 0 auto;
            margin-top: 10px;
            font-size: 14px;
            line-height: 34px;
            background: #333;
            cursor: pointer;
            border-radius: 17px;
            color: #fff;
            &:hover {
              background: rgba(0, 0, 0, 0.5);
            }
            i {
              display: inline-block;
              height: 20px;
              width: 20px;
              margin-right: 6px;
              vertical-align: middle;
              position: relative;
              top: -1px;
              &::before {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon03.svg) no-repeat;
                background-position: -106px 0;
                position: relative;
                top: -2px;
              }
            }
          }
        }
        .service-code {
          width: 250px;
          margin-top: 26px;
          margin-left: 40px;
          h2 {
            font-size: 14px;
            color: #333;
            float: left;
            font-weight: 500;
            margin-right: 10px;
          }
          ul {
            li {
              width: 24px;
              height: 24px;
              margin-right: 11px;
              position: relative;
              float: left;
              &:nth-of-type(1) {
                .service-code-img {
                  display: none;
                  img {
                    width: 108px;
                    height: 108px;
                    vertical-align: top;
                    margin: 6px;
                  }
                }
                &:hover .service-code-img{
                  display: block;
                }
                &:hover a{
                  background-position: -126px -24px;
                }
              }
              &:nth-of-type(2) {
                a {
                  background-position: -150px 0px;
                }
                &:hover a{
                  background-position: -150px -24px;
                }
              }
              &:nth-of-type(3) {
                a {
                  background-position: -174px 0px;
                }
                &:hover a{
                  background-position: -174px -24px;
                }
              }
              &:nth-of-type(4) {
                a {
                  background-position: 0 -36px;
                }
                &:hover a{
                  background-position: -20px -36px;
                }
              }
              a {
                display: block;
                width: 24px;
                height: 24px;
                text-indent: -999px;
                overflow: hidden;
                background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon03.svg) no-repeat;
                background-position: -126px 0;
              }
            }
          }
        }
      }
    }
  }
  .footer-container {
    .ft {
      padding: 25px 0 28px;
      color: #666;
      .footer-warrant-area {
        text-align: left;
        color: #a4a4a4;
        line-height: 20px;
        .footer-warrant-logo {
          width: 82px;
          height: 20px;
          padding: 3px 20px 0 0;
          img {
            vertical-align: top;
            width: 82px;
            height: 20px;
          }
        }
        .list {
          >ul {
            display: flex;
            margin-top: 3px;
            margin-bottom: 6px;
            li {
              float: left;
              line-height: 1;
              padding-right: 6px;
              border-right: 1px solid #d3d3d3;
              margin-right: 6px;
              font-size: 12px;
              a {
                font-size: 12px;
              }
            }
          }
          #s1 {
            li {
              a {
                color: #666;
                &:hover{
                  color: #ca151d;
                }
              }
            }
          }
          #s2 {
            li {
              a {
                color: #888;
                &:hover{
                  color: #ca151d;
                }
              }
            }
          }
          .s3 {
            span {
              font-size: 12px;
              color: #888;
            }
          }
        }
      }
    }
  }
}

//工具悬浮
.hungBar-container {
  position: fixed;
  right: 6px;
  bottom: 20px;
  height: 166px;
  width: 200px;
  z-index: 500;
  .hungBar {
    width: 54px;
    padding: 1px 0;
    border-radius: 2px;
    text-align: center;
    float: right;
    >a {
      width: 38px;
      height: 40px;
      display: block;
      position: relative;
      left: 20px;
      text-decoration: none;
      color: #3a3a3a;
      background: #fff;
      &::before {
        content: "";
        display: block;
        width: 38px;
        height: 38px;
        position: relative;
        top: 1px;
        left: 0px;
        background: url(https://res8.vmallres.com/20201021/css/../images/echannel/icon/icon-common.svg) no-repeat;
        background-position: 0 -75px;
      
      }
      &:hover .chart {
        display: block;
      }
      .chart {
        position: absolute;
        top: 1px;
        left: -72px;
        font-size: 12px;
        background: #fff;
        padding: 8px 0px;
        width: 64px;
        text-align: center;
        border-radius: 6px;
        display: none;
        z-index: 9999;
        &::after {
          content: "";
          width: 0;
          height: 0;
          display: block;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 6px solid #fff;
          position: absolute;
          top: 11px;
          right: -6px;
        }
      }
      &:hover::before{
        background-position: 0px -37px;
      }
      &:nth-of-type(2) {
        &::before {
          background-position: -38px -75px;
        }
        &:hover::before{
          background-position: -38px -37px;
        }

      }
      &:nth-of-type(3) {
        &::before {
          background-position: -76px -75px;
        }
        &:hover::before{
          background-position: -76px -37px;
        }
      }

    }

  }
}