.shortcut {
  height: 36px;
  width: 100%;
  background: #2e2828;
}
.shortcut .s_sub {
  height: 100%;
}
.shortcut .s_sub .l_ {
  height: 100%;
}
.shortcut .s_sub .l_ > li {
  height: 100%;
  float: left;
  padding: 0 8px;
  line-height: 36px;
  position: relative;
}
.shortcut .s_sub .l_ > li:before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background: #414141;
}
.shortcut .s_sub .l_ > li:nth-of-type(1):before {
  width: 0;
  height: 0;
  display: none;
}
.shortcut .s_sub .l_ > li > a {
  color: #afafaf;
  font-size: 12px;
}
.shortcut .s_sub .l_ > li > a:hover {
  color: #fff;
}
.shortcut .s_sub .l_ .more {
  height: 100%;
  position: relative;
  z-index: 2000;
  width: 74px;
  box-sizing: border-box;
}
.shortcut .s_sub .l_ .more:hover p {
  background: #fff;
}
.shortcut .s_sub .l_ .more > p {
  position: relative;
  height: 36px;
  z-index: 2000;
  width: 74px;
  left: -8px;
}
.shortcut .s_sub .l_ .more > p > span {
  font-size: 12px;
  color: #afafaf;
  margin-left: 8px;
}
.shortcut .s_sub .l_ .more > p > span::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-left: 4px;
  position: absolute;
  left: 53px;
  top: 12px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
  background-position: -70px 1px;
}
.shortcut .s_sub .l_ .more:hover {
  background: #fff;
}
.shortcut .s_sub .l_ .more:hover span {
  color: red;
  cursor: pointer;
}
.shortcut .s_sub .l_ .more:hover span::after {
  background-position: -85px 1px;
}
.shortcut .s_sub .l_ .more .drop_down {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 10000;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
  padding: 6px 0 12px 0;
  text-align: center;
  line-height: 32px;
  width: 119px;
  display: none;
}
.shortcut .s_sub .l_ .more .drop_down > dl > dt > a {
  color: #777;
  font-size: 12px;
}
.shortcut .s_sub .l_ .more .drop_down > dl > dt > a:hover {
  color: #cb242b;
}
.shortcut .s_sub .l_ .more:hover .drop_down {
  display: block;
}
.shortcut .s_main {
  height: 100%;
}
.shortcut .s_main .r_ {
  height: 100%;
}
.shortcut .s_main .r_ > li {
  height: 100%;
  float: left;
  padding: 0 8px;
  line-height: 36px;
  position: relative;
}
.shortcut .s_main .r_ > li:nth-of-type(3):before,
.shortcut .s_main .r_ > li:nth-of-type(4):before,
.shortcut .s_main .r_ > li:nth-of-type(5):before,
.shortcut .s_main .r_ > li:nth-of-type(6):before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background: #414141;
}
.shortcut .s_main .r_ > li:nth-of-type(7) {
  padding-left: 23px;
}
.shortcut .s_main .r_ > li > a {
  color: #afafaf;
  font-size: 12px;
}
.shortcut .s_main .r_ > li > a:hover {
  color: #fff;
}
.shortcut .s_main .r_ .servers {
  height: 100%;
  position: relative;
  z-index: 2000;
  width: 74px;
  box-sizing: border-box;
}
.shortcut .s_main .r_ .servers:hover p {
  background: #fff;
}
.shortcut .s_main .r_ .servers > p {
  position: relative;
  height: 36px;
  z-index: 2000;
  width: 74px;
  left: -8px;
}
.shortcut .s_main .r_ .servers > p > span {
  font-size: 12px;
  color: #afafaf;
  padding-left: 8px;
}
.shortcut .s_main .r_ .servers > p > span::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-left: 4px;
  position: absolute;
  left: 53px;
  top: 12px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
  background-position: -70px 1px;
}
.shortcut .s_main .r_ .servers:hover {
  background: #fff;
}
.shortcut .s_main .r_ .servers:hover span {
  color: red;
  cursor: pointer;
}
.shortcut .s_main .r_ .servers:hover span::after {
  background-position: -85px 1px;
}
.shortcut .s_main .r_ .servers .drop_down {
  position: absolute;
  border-radius: 0 0 15px 15px;
  width: 100%;
  top: 36px;
  right: 0;
  z-index: 10000;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  padding: 6px 0 12px 0;
  text-align: center;
  line-height: 32px;
  display: none;
}
.shortcut .s_main .r_ .servers .drop_down > dl > dt > a {
  color: #777;
  font-size: 12px;
}
.shortcut .s_main .r_ .servers .drop_down > dl > dt > a:hover {
  color: #cb242b;
}
.shortcut .s_main .r_ .servers:hover .drop_down {
  display: block;
}
.shortcut .s_main .r_ .websit {
  height: 100%;
  position: relative;
  z-index: 2000;
  width: 74px;
  box-sizing: border-box;
}
.shortcut .s_main .r_ .websit:hover p {
  background: #fff;
}
.shortcut .s_main .r_ .websit > p {
  position: relative;
  height: 36px;
  z-index: 2000;
  width: 74px;
  left: -8px;
}
.shortcut .s_main .r_ .websit > p > span {
  font-size: 12px;
  color: #afafaf;
  padding-left: 8px;
}
.shortcut .s_main .r_ .websit > p > span::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-left: 4px;
  position: absolute;
  left: 53px;
  top: 12px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
  background-position: -70px 1px;
}
.shortcut .s_main .r_ .websit:hover {
  background: #fff;
}
.shortcut .s_main .r_ .websit:hover span {
  color: red;
  cursor: pointer;
}
.shortcut .s_main .r_ .websit:hover span::after {
  background-position: -85px 1px;
}
.shortcut .s_main .r_ .websit:hover .drop_down {
  display: block;
}
.shortcut .s_main .r_ .websit .drop_down {
  position: absolute;
  top: 36px;
  right: 0;
  background: #fff;
  z-index: 10000;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0px 0 8px 8px;
  display: none;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs {
  width: 893px;
  line-height: 20px;
  color: #777;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dropdown-navs-icon {
  width: 50px;
  text-align: center;
  margin: 37px 46px 0 49px;
  color: #777;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dropdown-navs-icon > a {
  color: #777;
  font-size: 12px;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dropdown-navs-icon > a:hover {
  color: red;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dropdown-navs-icon > a > i {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 3px;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dropdown-navs-icon > a > i::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
  background-position: -202px 0;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dp_ {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 24px;
  width: 185px;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dp_ .title {
  margin-bottom: 10px;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dp_ .dp_list > div {
  width: 80px;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dp_ .dp_list > div > a {
  font-size: 12px;
  color: #777;
  font-weight: 300;
}
.shortcut .s_main .r_ .websit .drop_down .dropdown-navs .dp_ .dp_list > div > a:hover {
  color: red;
}
.shortcut .s_main .r_ .phone {
  height: 100%;
  position: relative;
  z-index: 2000;
  width: 74px;
  box-sizing: border-box;
}
.shortcut .s_main .r_ .phone:hover > p {
  background: #fff;
}
.shortcut .s_main .r_ .phone > p {
  position: relative;
  height: 36px;
  z-index: 2000;
  width: 74px;
  left: -8px;
}
.shortcut .s_main .r_ .phone > p > span {
  font-size: 12px;
  color: #afafaf;
  padding-left: 8px;
}
.shortcut .s_main .r_ .phone > p > span::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-left: 4px;
  position: absolute;
  left: 53px;
  top: 12px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
  background-position: -70px 1px;
}
.shortcut .s_main .r_ .phone:hover {
  background: #fff;
}
.shortcut .s_main .r_ .phone:hover span {
  color: red;
  cursor: pointer;
}
.shortcut .s_main .r_ .phone:hover span::after {
  background-position: -85px 1px;
}
.shortcut .s_main .r_ .phone:hover .drop_down {
  display: block;
}
.shortcut .s_main .r_ .phone .drop_down {
  position: absolute;
  top: 36px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0px 0px 8px 8px;
  color: #3a3a3a;
  display: none;
}
.shortcut .s_main .r_ .phone .drop_down .drp {
  padding: 20px 0 20px 0;
  width: 244px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 {
  padding-left: 24px;
  padding-bottom: 20px;
  border-radius: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > a {
  color: #afafaf;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > a > img {
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 12px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > .code-info {
  line-height: 18px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > .code-info > h2 {
  font-size: 14px;
  margin-bottom: 2px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > .code-info p {
  color: #cb242b;
  line-height: 16px;
  font-size: 13px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > .code-info > span {
  width: 32px;
  height: 32px;
  display: block;
  margin-top: 5px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > .code-info .mgr-5 {
  margin-right: 5px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > .code-info > span::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 1px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > .code-info .icon-wechat::before {
  background-position: -32px 0;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code1 > .code-info .icon-ios::before {
  background-position: -32px -112px;
}
.shortcut .s_main .r_ .phone .drop_down .drp .code2 > .code-info > p {
  color: #777;
}
.shortcut .s_main .r_ .shopp-cart {
  height: 100%;
  position: relative;
  z-index: 2000;
  width: 74px;
}
.shortcut .s_main .r_ .shopp-cart:hover a {
  background: #fff;
}
.shortcut .s_main .r_ .shopp-cart > a {
  display: block;
  position: relative;
  height: 36px;
  z-index: 2000;
  width: 74px;
  left: -8px;
}
.shortcut .s_main .r_ .shopp-cart > a > span {
  font-size: 12px;
  color: #afafaf;
  padding-left: 17px;
}
.shortcut .s_main .r_ .shopp-cart > a > span::after {
  content: "";
  display: inline-block;
  top: 13px;
  left: -11px;
  height: 14px;
  width: 20px;
  margin-left: 4px;
  position: absolute;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
  background-position: -98px -5px;
}
.shortcut .s_main .r_ .shopp-cart:hover {
  background: #fff;
}
.shortcut .s_main .r_ .shopp-cart:hover span {
  color: red;
  cursor: pointer;
}
.shortcut .s_main .r_ .shopp-cart:hover span::after {
  background-position: -116px -5px;
}
.shortcut .s_main .r_ .shopp-cart:hover .drop_down {
  display: block;
}
.shortcut .s_main .r_ .shopp-cart .drop_down {
  position: absolute;
  top: 36px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0px 0px 8px 8px;
  display: none;
}
.shortcut .s_main .r_ .shopp-cart .drop_down .drp {
  color: #3a3a3a;
}
.shortcut .s_main .r_ .shopp-cart .drop_down .drp .minicart_empty {
  padding: 50px 0 50px;
  width: 460px;
  text-align: center;
  font-size: 14px;
  color: #a4a4a4;
}
.shortcut .s_main .r_ .shopp-cart .drop_down .drp .minicart_empty > p .icon-minicart {
  position: relative;
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 16px;
}
.shortcut .s_main .r_ .shopp-cart .drop_down .drp .minicart_empty > p .icon-minicart::before {
  position: absolute;
  left: 180px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-position: -262px 0;
}
.header {
  height: 41px;
  padding: 18px 0;
}
.header .left {
  display: flex;
}
.header .left .logol {
  margin-right: 34px;
}
.header .left .logol img {
  height: 36px;
  width: auto;
  display: block;
}
.header .left .nav {
  height: 40px;
}
.header .left .nav .nav-list {
  display: flex;
}
.header .left .nav .nav-list > li {
  margin-right: 24px;
}
.header .left .nav .nav-list > li a {
  font-size: 16px;
  color: #333;
  display: block;
  line-height: 40px;
}
.header .left .nav .nav-list > li a:hover {
  color: red;
}
.header .left .nav .nav-list > li a img {
  height: 24px;
  display: block;
}
.header .left .nav .nav-list .img {
  margin-top: 7px;
}
.header .right {
  position: relative;
}
.header .right .sr_ {
  height: 28px;
  width: 238px;
  background: #f0f0f0;
  border-radius: 15px;
  border: 1px solid #f0f0f0;
  text-indent: 15px;
}
.header .right > .search-bar-key {
  position: absolute;
  right: 42px;
  bottom: 6px;
}
.header .right > .search-bar-key > a {
  color: #999;
  font-size: 12px;
  margin-right: 8px;
}
.header .right > .search-bar-key > a:hover {
  color: #000;
}
.header .right .btn {
  position: absolute;
  right: 18px;
  top: 7px;
  border: 0px;
}
.hw-banner-swiper {
  height: 550px;
}
.hw-banner-swiper .swiper-wrapper {
  height: 100%;
}
.hw-banner-swiper .swiper-wrapper .swiper-slide {
  height: 100%;
}
.hw-banner-swiper .swiper-wrapper .swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0 0 100px 100px;
}
.hw-banner-swiper #swipers {
  bottom: 88px;
  margin-right: 20px;
}
.hw-banner-swiper .swiper-pagination {
  text-align: right;
}
.hw-banner-swiper .swiper-pagination .swiper-pagination-bullet {
  border: 1.5px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  height: 10px;
  width: 10px;
  margin-left: 6px;
}
.hw-banner-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
.hw-banner-swiper .swiper-button-prev {
  left: 400px;
}
.hw-banner-swiper .swiper-button-next {
  right: 130px;
}
.hw-banner-swiper .btns {
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: 400;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
.hw-banner-swiper .btns:hover {
  background: rgba(0, 0, 0, 0.8);
}
.hw-banner-swiper #btns {
  z-index: 9999;
}
.category {
  position: absolute;
  left: 130px;
  top: 130px;
  width: 200px;
  z-index: 999;
}
.category .category-list {
  width: 200px;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-sizing: border-box;
}
.category .category-list .category-item {
  vertical-align: middle;
  width: 167px;
  cursor: pointer;
  padding: 11px 17px;
}
.category .category-list .category-item:hover {
  background: #fff;
  border-radius: 0;
}
.category .category-list .category-item:nth-last-child(1) {
  border-radius: 0 0 10px 10px;
}
.category .category-list .category-item:nth-last-child(1):hover {
  border-radius: 0 0 0 10px;
}
.category .category-list .category-item:hover .menu_ {
  display: block;
}
.category .category-list .category-item:nth-of-type(1) {
  border-radius: 10px 10px 0 0;
}
.category .category-list .category-item:nth-of-type(1):hover {
  border-radius: 10px 0 0 0;
}
.category .category-list .category-item > a {
  font-size: 16px;
  color: #848484;
  display: block;
}
.category .category-list .category-item > a > i {
  float: right;
}
.category .category-list .category-item .menu_ {
  position: absolute;
  left: 193px;
  top: 0;
  height: 420px;
  padding: 0 10px 8px 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 46px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  overflow: hidden;
  background: #fff;
  display: none;
}
.category .category-list .category-item .menu_ .sub-menu {
  width: 242px;
  margin: 0;
  padding-top: 20px;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-item {
  margin-bottom: 25px;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-item > a {
  display: inline-block;
  width: 230px;
  height: 60px;
  font-size: 14px;
  border-radius: 10px;
  vertical-align: middle;
  margin-left: 20px;
  padding-top: 8px;
  box-sizing: border-box;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-item > a:hover {
  background: #f5f4f4;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-item > a > img {
  width: 48px;
  height: 48px;
  margin: 0 8px 0 12px;
  float: left;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-item > a > p {
  height: 34px;
  line-height: 34px;
  position: relative;
  top: 7px;
  vertical-align: middle;
  color: #666;
  font-size: 14px;
  width: 150px;
  overflow: hidden;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-btn {
  float: left;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-btn > a {
  width: 112px;
  height: 42px;
  line-height: 42px;
  margin-top: 8px;
  margin-left: 36px;
  border: 1px solid #f2f2f2;
  border-radius: 0 22px 22px 0;
  font-size: 13px;
  color: #999;
  display: block;
  position: relative;
  left: 23px;
  text-indent: 34px;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-btn > a::before {
  content: "";
  width: 44px;
  height: 44px;
  background: #fff;
  border: 1px solid #f2f2f2;
  display: block;
  border: 22px;
  position: absolute;
  top: -1px;
  left: -22px;
  border-radius: 50%;
}
.category .category-list .category-item .menu_ .sub-menu .subcate-btn > a::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid #c0c0c0;
  position: absolute;
  top: 16px;
  left: -1px;
}
.category .category-list .category-item .category-panels {
  width: 484px;
}
.category .category-list .category-item .category-panels-1 {
  width: 242px;
}
.category .category-list .category-item .category-panels-2 {
  width: 726px;
}
.main {
  position: relative;
}
.main .title {
  color: #333;
  padding: 27px 0 13px 0;
  font-size: 17px;
  font-weight: 400;
}
.main .title h2 {
  font-weight: 400;
  color: #3a3a3a;
}
.main .home-channel {
  position: absolute;
  left: 0;
  top: -66px;
  width: 100%;
  height: 88px;
  z-index: 10000;
}
.main .home-channel .home-channel-list {
  background: #FFF;
  text-align: center;
  border-top: 0 none;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.07);
  z-index: 2;
}
.main .home-channel .home-channel-list .s1 {
  margin-top: 18px;
  width: 270px;
  height: 55px;
  border-right: 1px solid #eee;
}
.main .home-channel .home-channel-list .s1 .w-name {
  padding-left: 26px;
}
.main .home-channel .home-channel-list .s1 .w-name > img {
  width: 52px;
  height: 52px;
  margin-right: 17px;
}
.main .home-channel .home-channel-list .s1 .w_reg {
  margin-top: 1px;
  font-size: 14px;
  color: #999;
}
.main .home-channel .home-channel-list .s1 .w_btn {
  margin-top: 6px;
}
.main .home-channel .home-channel-list .s1 .w_btn > a {
  display: inline-block;
  width: 68px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  background: #595454;
  color: #fde4b3;
  border-radius: 5px;
  font-size: 13px;
}
.main .home-channel .home-channel-list .s1 .w_btn > a.new {
  width: 66px;
  height: 20px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #e47b7f;
  color: #de5b60;
  margin-right: 8px;
}
.main .home-channel .home-channel-list .s1 .w_btn > a.new:hover {
  background: #de5b60;
  color: #fff;
}
.main .home-channel .home-channel-list .s1 .w_btn > a:hover {
  background: #3a3a3a;
}
.main .home-channel .home-channel-list .s2 {
  width: 660px;
  margin-top: 18px;
}
.main .home-channel .home-channel-list .s2 > ul {
  display: flex;
}
.main .home-channel .home-channel-list .s2 > ul > li {
  width: 104px;
}
.main .home-channel .home-channel-list .s2 > ul > li:nth-of-type(2) .p_img img {
  left: -38px;
}
.main .home-channel .home-channel-list .s2 > ul > li:nth-of-type(3) .p_img img {
  left: -75px;
}
.main .home-channel .home-channel-list .s2 > ul > li:nth-of-type(4) .p_img img {
  left: -114px;
}
.main .home-channel .home-channel-list .s2 > ul > li:nth-of-type(5) .p_img img {
  left: -154px;
}
.main .home-channel .home-channel-list .s2 > ul > li:nth-of-type(6) .p_img img {
  left: -190px;
}
.main .home-channel .home-channel-list .s2 > ul > li > a {
  text-align: center;
  display: block;
  width: 100%;
  min-width: 48px;
  max-width: 84px;
  margin: 0 auto;
  cursor: pointer;
  color: #3a3a3a;
}
.main .home-channel .home-channel-list .s2 > ul > li > a:hover {
  color: red;
}
.main .home-channel .home-channel-list .s2 > ul > li > a .p_img {
  width: 40px;
  height: 40px;
  margin: 0 22px;
  overflow: hidden;
  position: relative;
}
.main .home-channel .home-channel-list .s2 > ul > li > a .p_img > img {
  position: absolute;
  left: 0px;
  width: auto;
  height: 96%;
}
.main .home-channel .home-channel-list .s2 > ul > li > a .p_content {
  font-size: 12px;
  line-height: 24px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #777;
}
.main .home-channel .home-channel-list .s2 > ul > li > a .p_content:hover {
  color: red;
}
.main .home-channel .home-channel-list .s3 {
  width: 266px;
  height: 88px;
  border-left: 1px solid #eee;
  box-sizing: border-box;
}
.main .home-channel .home-channel-list .s3 .public-info {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  height: 43px;
  line-height: 43px;
  border-bottom: 1px solid #eee;
}
.main .home-channel .home-channel-list .s3 .public-info .p_list {
  font-weight: normal;
  margin-left: 8px;
  font-size: 12px;
}
.main .home-channel .home-channel-list .s3 .public-info .p_list a {
  color: #6f6f6f;
}
.main .home-channel .home-channel-list .s3 .public-info .p_list a:hover {
  color: red;
}
.main .home-channel .home-channel-list .s3 .public-content > ul > li {
  height: 42px;
  line-height: 42px;
  width: 88px;
}
.main .home-channel .home-channel-list .s3 .public-content > ul > li > a {
  display: block;
  color: #666;
  height: 42px;
  line-height: 42px;
  font-size: 12px;
  width: 89px;
}
.main .home-channel .home-channel-list .s3 .public-content > ul > li > a:hover {
  color: red;
}
.main .home-channel .home-channel-list .s3 .public-content > ul > li > a > .txt {
  position: relative;
  top: -6px;
}
.main .home-channel .home-channel-list .s3 .public-content > ul > li > a > .s_img {
  position: relative;
  height: 22px;
  width: 20px;
  overflow: hidden;
  display: inline-block;
  margin-right: 2px;
  margin-top: 13px;
}
.main .home-channel .home-channel-list .s3 .public-content > ul > li > a > .s_img > img {
  width: auto;
  height: 200%;
  position: absolute;
  left: -266px;
}
.main .home-channel .home-channel-list .s3 .public-content > ul > .l2 > a > .s_img img {
  left: -287px;
}
.main .home-channel .home-channel-list .s3 .public-content > ul > .l3 > a > .s_img img {
  left: -310px;
}
.main .bottomimage {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  left: 0;
  width: 100%;
  display: flex;
}
.main .bottomimage > a {
  display: block;
  width: 50%;
  flex: 1;
}
.main .bottomimage > a:nth-of-type(1) {
  position: relative;
}
.main .bottomimage > a:nth-of-type(1) img {
  position: absolute;
  right: 0;
}
.main .one {
  padding-top: 40px;
}
.main .one .home-promo-list {
  display: flex;
  margin-bottom: 13px;
}
.main .one .home-promo-list > li {
  width: 290px;
  height: 200px;
  border-radius: 20px;
  margin-left: 13px;
}
.main .one .home-promo-list > li:nth-of-type(1) {
  margin-left: 0;
}
.main .one .home-promo-list > li > a {
  display: block;
  height: 200px;
  border-radius: 10px;
}
.main .one .home-promo-list > li > a:hover {
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
}
.main .one .home-promo-list > li > a > img {
  height: 200px;
  width: 290px;
  border-radius: 10px;
}
.main .two .hot_list {
  display: flex;
  width: 232px;
  height: auto;
}
.main .two .hot_list .hot_l > a {
  width: 232px;
  border-radius: 10px;
}
.main .two .hot_list .hot_l > a > img {
  width: 232px;
  border-radius: 10px;
}
.main .two .hot_list .hot_l > a > img:hover {
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
}
.main .two .hot_list .hot_r {
  width: 968px;
}
.main .two .hot_list .hot_r > ul {
  display: flex;
  flex-wrap: wrap;
  width: 968px;
}
.main .two .hot_list .hot_r > ul > li {
  width: 230px;
  height: 290px;
  background: #f9f9f9;
  border-radius: 10px;
  margin-left: 12px;
  margin-bottom: 12px;
  position: relative;
}
.main .two .hot_list .hot_r > ul > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #3a3a3a;
  border-radius: 10px;
}
.main .two .hot_list .hot_r > ul > li > a:hover {
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
}
.main .two .hot_list .hot_r > ul > li > a .grid-img {
  width: 150px;
  height: 150px;
  margin: 35px auto 0;
}
.main .two .hot_list .hot_r > ul > li > a .grid-img > img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}
.main .two .hot_list .hot_r > ul > li > a .grid-title {
  width: 210px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 12px;
  height: 21px;
  line-height: 21px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .two .hot_list .hot_r > ul > li > a .grid-desc {
  color: #777;
  font-size: 12px;
  line-height: 18px;
  padding: 0 10px;
  margin: 2px 20px 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .two .hot_list .hot_r > ul > li > a .grid-price {
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #cc0e11;
}
.main .two .hot_list .hot_r > ul > li > a .grid-tips {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
}
.main .two .hot_list .hot_r > ul > li > a .grid-tips > span {
  display: inline-block;
  font-size: 12px;
  background: #ff8486;
  padding: 0 9px;
  margin: 0 auto;
  height: 22px;
  line-height: 22px;
  color: #fff;
  border-radius: 0 0 6px 6px;
}
.main .b {
  width: 100%;
  overflow: hidden;
}
.main .b .swipers {
  height: 295px;
  padding-top: 16px;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
}
.main .b .swipers > .swiper-button-prev {
  width: 36px;
  height: 72px;
  top: 101px;
  left: 5px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
}
.main .b .swipers > .swiper-button-prev::before {
  content: "";
  width: 24px;
  height: 26px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon03.svg) no-repeat;
  position: absolute;
  top: 22px;
}
.main .b .swipers > .swiper-button-next {
  width: 36px;
  height: 72px;
  top: 101px;
  right: 0px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
}
.main .b .swipers > .swiper-button-next::before {
  content: "";
  width: 24px;
  height: 26px;
  background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon03.svg) no-repeat;
  position: absolute;
  top: 22px;
}
.main .b .swipers .grid-list {
  width: 1400px;
  overflow: hidden;
}
.main .b .swipers .grid-list .grid-items {
  width: 242px;
  height: 295px;
  margin-bottom: 10px;
}
.main .b .swipers .grid-list .grid-items .thumb {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #3a3a3a;
  position: relative;
}
.main .b .swipers .grid-list .grid-items .thumb .grid-info {
  width: 230px;
  height: 205px;
  margin: 0 auto;
  background: #fff;
  padding-top: 36px;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06);
}
.main .b .swipers .grid-list .grid-items .thumb .grid-info .grid-img {
  margin: 0 auto;
  margin-bottom: 19px;
  width: 150px;
  height: 150px;
}
.main .b .swipers .grid-list .grid-items .thumb .grid-info .grid-img > img {
  width: 150px;
  height: 150px;
}
.main .b .swipers .grid-list .grid-items .thumb .grid-info .grid-desc {
  font-size: 14px;
  line-height: 36px;
  padding: 0 10px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 206px;
  width: 210px;
  left: 6px;
  background: #f3f3f3;
  color: #777;
}
.main .b .swipers .grid-list .grid-items .thumb .grid-title {
  margin: 0 auto;
  margin-top: 9px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #3a3a3a;
}
.main .b .swipers .grid-list .grid-items .thumb .grid-price {
  line-height: 18px;
  color: #d0021b;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .b .swipers .grid-list .grid-items .thumb .grid-tips {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 48px;
  right: 35px;
}
.main .b .swipers .grid-list .grid-items .thumb .grid-tips .thumb {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.main .b .swipers .grid-list .grid-items .thumb .grid-tips .thumb .color1 {
  background: #ff8486;
  font-style: normal;
  display: inline-block;
  padding: 0 9px;
  margin: 0 auto;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  border-radius: 0 0 6px 6px;
}
.main .home-banner .swiper-container {
  border-radius: 10px;
}
.main .home-banner .swiper-container > .swiper-wrapper > .wiper-slide > a > img {
  border-radius: 10px;
}
.main .home-banner .swiper-container .swiper-pagination {
  text-align: right;
}
.main .home-banner .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  height: 10px;
  width: 10px;
  margin-left: 6px;
  border: 1.5px solid #fff;
  background: rgba(0, 0, 0, 0.3);
}
.main .home-banner .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
