
// 顶部导航
.shortcut{
  height: 36px;
  width: 100%;
  background: #2e2828;
  .s_sub{
    height: 100%;
    .l_{
      height: 100%;
      >li{
        height: 100%;
        float: left;
        padding: 0 8px;
        line-height: 36px;
        position: relative;
        &:before {
          content: "";
          width: 1px;
          height: 10px;
          display: block;
          position: absolute;
          top: 15px;
          left: 0;
          background: #414141;
        }
        &:nth-of-type(1):before {
          width: 0;
          height: 0;
          display: none;
        }
        >a{
          color: #afafaf;
          font-size: 12px;
          &:hover{
            color: #fff;
          }
        }
      } 
    }
  }
  .s_main{
    height: 100%;
    .r_{
      height: 100%;
      >li{
        height: 100%;
        float: left;
        padding: 0 8px;
        line-height: 36px;
        position: relative;
        &:nth-of-type(3):before,&:nth-of-type(4):before,&:nth-of-type(5):before,&:nth-of-type(6):before {
          content: "";
          width: 1px;
          height: 10px;
          display: block;
          position: absolute;
          top: 15px;
          left: 0;
          background: #414141;
        }
        &:nth-of-type(7):before {
          content: "";
          display: block;
          position: absolute;
          top: 14px;
          left: -1px;
          height: 14px;
          width: 20px;
          background: url(https://res8.vmallres.com/20201021/images/echannel/icon/icon-common.svg) no-repeat;
          background-position: -98px -5px;
        }
        &:nth-of-type(7) {
          padding-left: 23px;
        }
        >a{
          color: #afafaf;
          font-size: 12px;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
}
//头部导航
.header{
  height: 41px;
  padding: 18px 0;
  .left {
    display: flex;
    .logol {
      margin-right: 34px;
      img {
        height: 36px;
        width: auto;
        display: block;
      }
    }
    .nav {
      height: 40px;
      .nav-list {
        display: flex;
        >li {
          margin-right: 24px;
          a {
            font-size: 16px;
            color: #333;
            display: block;
            line-height: 40px;
            &:hover {
              color: red;
            }
            img {
              height: 24px;
              display: block;
            }
          }

        }
        .img{
          margin-top: 7px;
        }
      }
    }
  }
  .right {
    position: relative;
    .sr_ {
      height: 28px;
      width: 238px;
      background: #f0f0f0;
      border-radius: 15px;
      border: 1px solid #f0f0f0;
      text-indent: 15px;
    }
    >.search-bar-key {
      position: absolute;
      right: 42px;
      bottom: 6px;
      >a {
        color: #999;
        font-size: 12px;
        margin-right: 8px;
        &:hover {
          color: #000;
        }
      }
    }
    .btn {
      position: absolute;
      right: 18px;
      top: 7px;
      border: 0px;
    }
  }
}
//轮播图
.hw-banner-swiper {
  height: 550px;
  .swiper-wrapper {
    height: 100%;
    .swiper-slide {
      height: 100%;
      img {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 0 0 100px 100px;
      }
    }
  }
  #swipers {
    bottom: 70px;
  }
  .swiper-pagination {
    padding-right: 130px;
    .swiper-pagination-bullet {
      border: 2px solid #000;
      background-color: transparent;
      height: 10px;
      width: 10px;
      margin-left: 6px;
    }
    .swiper-pagination-bullet-active {
      background: #fff;
    }
  }

  .swiper-button-prev {
    left: 400px;
  }
  .swiper-button-next {
    right: 130px;
  }
  .btns {
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-weight: 400;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }
  #btns {
    z-index: 9999;
  }
}
//导航分类
.category {
  position: absolute;
  left: 130px;
  top: 130px;
  width: 200px;
  z-index: 999;
  .category-list {
    height: 440px;
    width: 200px;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
    background: rgba(255,255,255,0.95);
    border-radius: 10px;
    box-sizing: border-box;
    .category-item {
      vertical-align: middle;
      width: 167px;
      cursor: pointer;
      padding: 10px 0;
      margin: 0 auto;
      >a {
        font-size: 16px;
        color: #848484;
        display: block;
        >i {
          float: right;
        }
      }
    }
  }
}
//菜单栏
.main {
  position: relative;
  .home-channel {
    position: absolute;
    left: 0;
    top: -66px;
    width: 100%;
    height: 88px;
    z-index: 10000;
    .home-channel-list {
      background: #FFF;
      text-align: center;
      border-top: 0 none;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 2px 26px rgba(0,0,0,0.07);
      z-index: 2;
      .s1 {
        margin-top: 18px;
        width: 270px;
        height: 55px;
        border-right: 1px solid #eee;
        .w-name {
          padding-left: 26px;
          >img {
            width: 52px;
            height: 52px;
            margin-right: 17px;
          }
        }
        .w_reg {
          margin-top: 1px;
          font-size: 14px;
          color: #999;
        }
        .w_btn {
          margin-top: 6px;
          >a {
            display: inline-block;
            width: 68px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            background: #595454;
            color: #fde4b3;
            border-radius: 5px;
            font-size: 13px;
            &.new {
              width: 66px;
              height: 20px;
              line-height: 20px;
              background: #fff;
              border: 1px solid #e47b7f;
              color: #de5b60;
              margin-right: 8px;
              &:hover {
                background: #de5b60;
                color: #fff;
              }
            }
            &:hover {
              background: #3a3a3a;
            }
          }
        }
      }
      .s2 {
        width: 660px;
        margin-top: 18px;
        >ul {
          display: flex;
          >li {
            width: 104px;
            &:nth-of-type(2) {
              .p_img {
                img {
                  left: -38px;
                }
              }
            }
            &:nth-of-type(3) {
              .p_img {
                img {
                  left: -75px;
                }
              }
            }
            &:nth-of-type(4) {
              .p_img {
                img {
                  left: -114px;
                }
              }
            }
            &:nth-of-type(5) {
              .p_img {
                img {
                  left: -154px;
                }
              }
            }
            &:nth-of-type(6) {
              .p_img {
                img {
                  left: -190px;
                }
              }
            }
            >a {
              text-align: center;
              display: block;
              width: 100%;
              min-width: 48px;
              max-width: 84px;
              margin: 0 auto;
              cursor: pointer;
              color: #3a3a3a;
              &:hover {
                color: red;
              }
              .p_img {
                width: 40px;
                height: 40px;
                margin: 0 22px;
                overflow: hidden;
                position: relative;
                >img {
                  position: absolute;
                  left: 0px;
                  width: auto;
                  height: 96%;
                }
              }
              .p_content {
                font-size: 12px;
                line-height: 24px;
                width: 100%;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #777;
                &:hover {
                  color: red;
                }
              }
            }
          }
        }
      }
      .s3 {
        width: 266px;
        height: 88px;
        border-left: 1px solid #eee;
        box-sizing: border-box;
        .public-info {
          text-align: left;
          font-size: 14px;
          font-weight: bold;
          padding-left: 10px;
          height: 43px;
          line-height: 43px;
          border-bottom: 1px solid #eee;
          .p_list {
            font-weight: normal;
            margin-left: 8px;
            font-size: 12px;
            a {
              color: #6f6f6f;
              &:hover {
                color: red;
              }
            }
          }
        }
        .public-content {
          >ul {
            >li {
              height: 42px;
              line-height: 42px;
              width: 88px;
              >a {
                display: block;
                color: #666;
                height: 42px;
                line-height: 42px;
                font-size: 12px;
                width: 89px;
                &:hover {
                  color: red;
                }
                >.txt {
                  position: relative;
                  top: -6px;
                }
                >.s_img {
                  position: relative;
                  height: 22px;
                  width: 20px;
                  overflow: hidden;
                  display: inline-block;
                  margin-right: 2px;
                  margin-top: 13px;
                  >img {
                    width: auto;
                    height: 200%;
                    position: absolute;
                    left: -266px;
                  }
                  
                }
              }
            }
            >.l2 {
              >a {
                >.s_img {
                  img {
                    left: -287px;
                  }
                }
              }
            }
            >.l3 {
              >a {
                >.s_img {
                  img {
                    left: -310px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
